<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="hns.faker.boot.dto.UserVo" alias="UserVo"/>
		<typeAlias type="hns.faker.boot.dto.ContentsVo" alias="ContentsVo"/>
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/userSQLMapper.xml"/>
		<mapper resource="mybatis/contentsSQLMapper.xml"/>
		
	</mappers>
	
</configuration>
