<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ssafy.member.selectOne으로 호출 -->
<mapper namespace="ssafy.user">

 <!-- 
 	insert / update / delete / selectOne / selectList 
  -->
	<insert id="insert" parameterType="UserVo">
		insert into user(username, password, gender, age) 
							values(	
									#{username},
									#{password},
									#{gender},
									#{age}
							)
	</insert>
	<update id="update" parameterType="UserVo">
		update user set 	password=#{password},
							gender=#{gender},
							age=#{age}
						where user_id=#{user_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from user where user_id=#{user_id}
	</delete>

	<select id="selectOne" parameterType="int" resultType="UserVo">
		select user_id, username, password, gender, age from user where user_id=#{user_id}
	</select>
	
	<select id="login" parameterType="string" resultType="UserVo">
		select user_id, username, password, gender, age from user 
		where username=#{username}
	</select>

		
</mapper>
